.jumbotron{
  background: url("wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/*.jumbotron-h1{*/
/*  text-align: left;*/
/*}*/
/*@media (max-width: 767.98px){*/
/*  .jumbotron{*/
/*    height: 30vh;*/
/*  }*/
/*}*/
.pd-left3{
  padding-left: 3px;
}

.article-img{
  max-height: 300px;
  object-fit: cover;
}
